---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Us"
	description="Founders"
	pubDate={new Date("May 28 2025")}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Satsuki Founder</p>

	<p>Giulia Founder & Matcha Professional Barista</p>
</Layout>
